# Advanced Topics

## Helpful DatetimeIndex Attributes and Methods

In [1]:
import pandas as pd

In [3]:
stocks = pd.read_csv("stocks.csv")

In [5]:
stocks.head()

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Adj Close.3,Adj Close.4,Adj Close.5,Close,Close.1,Close.2,...,Open.2,Open.3,Open.4,Open.5,Volume,Volume.1,Volume.2,Volume.3,Volume.4,Volume.5
0,NaN,AAPL,BA,DIS,IBM,KO,MSFT,AAPL,BA,DIS,...,DIS,IBM,KO,MSFT,AAPL,BA,DIS,IBM,KO,MSFT
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-12-31,6.503574371337891,41.856788635253906,28.09070587158203,92.40611267089844,18.951757431030273,23.801456451416016,7.526071548461914,54.130001068115234,32.25,...,32.27000045776367,132.41000366210938,28.790000915527344,30.979999542236328,352410800,2189400,19651700,4223400,10848800,31929700
3,2010-01-04,6.604801177978516,43.44197463989258,27.933923721313477,93.50031280517578,18.96506118774414,24.168472290039062,7.643214225769043,56.18000030517578,32.06999969482422,...,32.5,131.17999267578125,28.579999923706055,30.6200008392334,493729600,6186700,13700400,6155300,13870400,38409100
4,2010-01-05,6.6162190437316895,44.86477279663086,27.86423683166504,92.37083435058594,18.73564338684082,24.176279067993164,7.656428337097168,58.02000045776367,31.989999771118164,...,32.06999969482422,131.67999267578125,28.424999237060547,30.850000381469727,601904800,8867800,10307700,6841400,23172400,49749600

In [8]:
stocks = pd.read_csv("stocks.csv", header = [0,1], index_col= [0], parse_dates= [0])

In [9]:
stocks.head()

           Adj Close                                                         \
                AAPL         BA        DIS        IBM         KO       MSFT
Date
2009-12-31  6.503574  41.856789  28.090706  92.406113  18.951757  23.801456
2010-01-04  6.604801  43.441975  27.933924  93.500313  18.965061  24.168472
2010-01-05  6.616219  44.864773  27.864237  92.370834  18.735643  24.176279
2010-01-06  6.510980  46.225727  27.716166  91.770790  18.728989  24.027906
2010-01-07  6.498945  48.097031  27.724878  91.453102  18.682440  23.778025

               Close                                ...   Open              \
                AAPL         BA    DIS         IBM  ...    DIS         IBM
Date                                                ...
2009-12-31  7.526072  54.130001  32.25  130.899994  ...  32.27  132.410004
2010-01-04  7.643214  56.180000  32.07  132.449997  ...  32.50  131.179993
2010-01-05  7.656428  58.020000  31.99  130.850006  ...  32.07  131.679993
2010-01-06  7.534643  59.779999  31.82  130.000000  ...  31.90  130.679993
2010-01-07  7.520714  62.200001  31.83  129.550003  ...  31.77  129.869995

                                     Volume                               \
                   KO       MSFT       AAPL        BA       DIS      IBM
Date
2009-12-31  28.790001  30.980000  352410800   2189400  19651700  4223400
2010-01-04  28.580000  30.620001  493729600   6186700  13700400  6155300
2010-01-05  28.424999  30.850000  601904800   8867800  10307700  6841400
2010-01-06  28.174999  30.879999  552160000   8836500  10709500  5605300
2010-01-07  28.165001  30.629999  477131200  14379100   8202100  5840600


                  KO      MSFT
Date
2009-12-31  10848800  31929700
2010-01-04  13870400  38409100
2010-01-05  23172400  49749600
2010-01-06  19264600  58182400
2010-01-07  13234600  50559700

[5 rows x 36 columns]

In [10]:
close = stocks.loc[:, "Close"].copy()

In [11]:
close.head()

                AAPL         BA    DIS         IBM         KO       MSFT
Date
2009-12-31  7.526072  54.130001  32.25  130.899994  28.500000  30.480000
2010-01-04  7.643214  56.180000  32.07  132.449997  28.520000  30.950001
2010-01-05  7.656428  58.020000  31.99  130.850006  28.174999  30.959999
2010-01-06  7.534643  59.779999  31.82  130.000000  28.165001  30.770000
2010-01-07  7.520714  62.200001  31.83  129.550003  28.094999  30.450001

In [ ]:
close.info()

In [ ]:
close.index

In [ ]:
close.index.day

In [ ]:
close.index.month

In [ ]:
close.index.year

In [ ]:
close.index.day_name()

In [ ]:
#close.index.weekday_name

In [ ]:
close.index.month_name()

In [ ]:
 close.index.weekday

In [ ]:
close.index.quarter

In [ ]:
close.index.days_in_month

In [ ]:
close.index.week

In [ ]:
close.index.weekofyear

In [ ]:
close.index.is_month_end

In [ ]:
close["Day"] = stocks.index.day_name()
close["Quarter"] = stocks.index.quarter

In [ ]:
close.head()

## Filling NA Values with bfill, ffill and interpolation

In [ ]:
close.head()

In [ ]:
close.tail()

In [ ]:
all_days = pd.date_range(start = "2009-12-31", end = "2019-02-06", freq = "D")
all_days

In [ ]:
close = close.reindex(all_days)

In [ ]:
close.head(20)

In [ ]:
close.Day = close.index.day_name()
close.Quarter = close.index.quarter

In [ ]:
close.fillna(method = "ffill", inplace= True)

In [ ]:
close.head(15)

In [ ]:
temp = pd.read_csv("temp.csv", parse_dates=["datetime"], index_col = "datetime")

In [ ]:
temp.head(10)

In [ ]:
temp = temp.resample("30 Min").mean()
temp.head(10)

In [ ]:
temp.interpolate()

## Timezones and Converting (Part 1)

In [ ]:
import pandas as pd

In [ ]:
ge = pd.read_csv("GE_prices.csv", parse_dates= ["date"], index_col= "date")

In [ ]:
ge.head(30)

In [ ]:
ge.info()

In [ ]:
ge.index

In [ ]:
print(ge.index.tz)

In [ ]:
ge.tz_localize("UTC")

In [ ]:
ge.tz_localize("America/New_York")

In [ ]:
ge = ge.tz_localize("America/New_York")

In [ ]:
ge.head()

## Timezones and Converting (Part 2)

In [ ]:
ge.index.tz

In [ ]:
ge.tz_convert("UTC")

In [ ]:
ge.tz_convert("America/Los_Angeles")

In [ ]:
ge_la = ge.tz_convert("America/Los_Angeles")

In [ ]:
ge_la.head()

In [ ]:
ge.head()

In [ ]:
comb = pd.concat([ge, ge_la], axis = 1)

In [ ]:
comb.head()

In [ ]:
comb.index

In [ ]:
comb["NY_time"] = comb.index.tz_convert("America/New_York")
comb["LA_time"] = comb.index.tz_convert("America/Los_Angeles")

In [ ]:
comb.head()

In [ ]:
import pytz

In [ ]:
len(pytz.all_timezones)

In [ ]:
pytz.common_timezones